.day-view {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-lg);

    .header {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        gap: var(--spacing-md);

        .heading {
            display: flex;
            align-items: center;
            flex-grow: 1;
            flex-wrap: wrap;
            gap: 0 var(--spacing-sm);

            .relative-date {
                color: var(--color-text-light);
                font-size: var(--font-size-md);
                font-weight: var(--font-weight-normal);
            }
        }

        .duration {
            display: flex;
            align-items: center;
            flex-shrink: 0;
            width: calc(8rem + 2 * var(--spacing-xs));
            font-weight: var(--font-weight-bold);
            gap: var(--spacing-2xs);

            @media screen and (max-width: 900px) {
                flex-grow: 1;
                justify-content: flex-end;
                padding: unset;
                width: unset;
            }
        }
    }

    .new-group {
        display: flex;
        flex-direction: column;
        gap: var(--spacing-2xs);

        .nested-heading {
            display: flex;
            align-items: center;
            gap: var(--spacing-sm);
            color: var(--color-text-light);
            font-weight: var(--font-weight-semibold);

            &h2 {
                margin-top: var(--spacing-lg);
            }
            &h3 {
                margin-top: var(--spacing-md);
            }
            &h4 {
                margin-top: var(--spacing-sm);
            }

            .icon {
                border-radius: 50%;
                background-color: var(--color-foreground);
                height: 0.8em;
            }

            &:first-child {
                &h2 {
                    margin-top: 0;
                }
            }
        }

        .joined-heading {
            display: flex;
            align-items: center;
            gap: var(--spacing-sm);
            color: var(--color-text-light);
            font-weight: var(--font-weight-semibold);

            .separator {
                border-radius: 0.5rem;
                background-color: var(--color-separator);
                width: 0.5rem;
                height: 0.5rem;
            }

            &h4 {
                margin-top: var(--spacing-sm);
            }

            .icon {
                border-radius: 50%;
                background-color: var(--color-foreground);
                height: 0.8em;
            }
        }

        .work-item-container {
            display: flex;
            gap: var(--spacing-sm);

            .work-item {
                flex-grow: 1;
                background-color: var(--color-foreground);

                &.errored {
                    /* FIXME: use design token */
                    background-color: #ffeae1;
                }

                &:focus-within {
                    background-color: var(--color-foreground);
                }
            }
        }
    }
}
