.settings {
    .main-content {
        display: flex;
        flex-direction: column;
        gap: var(--spacing-lg);

        .section {
            display: flex;
            flex-direction: column;
            gap: var(--spacing-sm);
        }
    }
}
