.project-standup {
    display: flex;

    .header {
        display: flex;
        align-items: center;
        flex-basis: 50%;
        flex-direction: column;
        flex-grow: 0;
        flex-shrink: 0;
        justify-content: center;
        padding: var(--spacing-xl);
        gap: var(--spacing-md);

        .logo {
            width: 16rem;
            height: 16rem;
            object-fit: contain;
            object-position: center center;
        }

        .project-name {
            font-size: var(--font-size-4xl);
            font-weight: var(--font-weight-light);
        }
    }

    .content {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        background-color: var(--color-foreground);
        padding: var(--spacing-xl);
        gap: var(--spacing-lg);

        .team-heading {
            color: var(--color-secondary);
            font-size: var(--font-size-2xl);
            font-weight: var(--font-weight-normal);
        }

        .separator {
            margin: 0;
            border-top: unset;
            border-bottom: var(--width-separator-md) solid var(--color-separator);
        }

        .user-list {
            display: flex;
            flex-direction: column;
            gap: var(--spacing-md);

            .user {
                display: flex;
                font-size: var(--font-size-lg);
                gap: var(--spacing-xs);

                .display-picture {
                    font-size: var(--font-size-xl);
                }
            }
        }
    }
}
