.select-input-container {
    .input {
        border: var(--width-separator-sm) solid var(--color-foreground);
        border-radius: var(--border-radius-md);
        padding: 0 var(--spacing-sm);
    }

    .clear-btn {
        display: none;
    }

    &:focus-within {
        .clear-btn {
            display: unset;
        }
    }
}

.popup {
    padding: var(--spacing-sm) 0;

    .list {
        display: flex;
        flex-direction: column;
        overflow: auto;

        .list-item {
            flex-shrink: 0;
        }
    }

    .info-message {
        padding: var(--spacing-sm);
        text-align: center;
        color: var(--color-text-light);
    }
}
