.input {
    border-radius: var(--border-radius-md);
    padding: 0 var(--spacing-sm);
}

.popup {
    padding: var(--spacing-sm) 0;

    .list {
        display: flex;
        flex-direction: column;
        overflow: auto;

        .list-item {
            flex-shrink: 0;
        }
    }

    .info-message {
        padding: var(--spacing-sm);
        text-align: center;
        color: var(--color-text-light);
    }
}
