.list {
    position: relative;
    min-height: var(--height-content--min);

    &.compact {
        min-height: unset;

        &.pending {
            min-height: var(--height-compact-content--min);
        }
    }

    .separator {
        margin: 0;
        border: none;
        border-bottom: var(--width-separator-sm) solid var(--color-separator);
    }
}
