.slide {
    display: flex;
    flex-grow: 1;
    background-color: var(--color-background);
    overflow: auto;

    &.general-variant {
        align-items: center;
        flex-direction: column;
        justify-content: center;
        gap: var(--spacing-lg);

        .heading {
            overflow-wrap: break-word;
            color: var(--color-primary-text);
            font-size: var(--font-size-3xl);
            font-weight: var(--font-weight-light);
        }
    }

    &.split-variant {
        gap: var(--spacing-lg);
        overflow: auto;

        @media screen and (max-width: 900px) {
            flex-direction: column;
        }

        .start-section {
            display: flex;
            flex-basis: 40%;
            flex-direction: column;
            flex-grow: 0;
            flex-shrink: 0;
            gap: var(--spacing-lg);
            padding: var(--spacing-lg);

            @media screen and (max-width: 900px) {
                flex-basis: auto;
                padding: unset;
            }

            .primary-section {
                display: flex;
                flex-direction: column;
                flex-grow: 0;
                gap: var(--spacing-sm);

                .primary-pre-text {
                    overflow-wrap: break-word;
                    font-size: var(--font-size-xl);
                }

                .primary-heading {
                    overflow-wrap: break-word;
                    color: var(--color-primary-text);
                    font-size: var(--font-size-3xl);
                    font-weight: var(--font-weight-light);
                }

                .primary-description {
                    overflow-wrap: break-word;
                    color: var(--color-text-muted);
                    font-size: var(--font-size-md);
                }
            }

            .tertiary-section {
                display: flex;
                flex-direction: column;
                flex-grow: 1;
                overflow: auto;
                gap: var(--spacing-lg);
            }
        }

        .end-section {
            display: flex;
            flex-direction: column;
            flex-grow: 1;
            border: var(--width-separator-sm) solid var(--color-separator);
            border-radius: var(--border-radius-lg);
            background-color: var(--color-foreground);
            padding: var(--spacing-lg);
            gap: var(--spacing-md);

            @media screen and (max-width: 900px) {
                border: unset;
                border-radius: unset;
                background-color: unset;
                padding: unset;
            }

            .secondary-heading {
                color: var(--color-secondary-text);
                font-size: var(--font-size-xl);
                font-weight: var(--font-weight-normal);
            }

            .secondary-content {
                display: flex;
                position: relative;
                flex-direction: column;
                flex-grow: 1;
                flex-wrap: wrap;
                overflow: auto;
                gap: var(--spacing-md);

                &::before {
                    position: absolute;
                    top: 0;
                    right: 0;
                    bottom: 0;
                    left: 0;
                    opacity: 0.2;
                    /* stylelint-disable-next-line csstools/value-no-unknown-custom-properties */
                    background-image: var(--project-slide-background);
                    background-position: bottom right;
                    background-repeat: no-repeat;
                    background-size: 12rem;
                    content: '';
                    pointer-events: none;
                }
            }
        }
    }
}
