.grow-wrap {
    display: grid;
    width: auto;

    .raw-input, &::after {
        margin: unset;
        outline: unset;
        border: unset;
        background-color: unset;
        padding: unset;
        width: auto;
        min-width: 1em;
        overflow: hidden;
        resize: none;
        text-overflow: ellipsis;
        white-space: nowrap;
        color: inherit;
        font: inherit;
        grid-area: 1 / 2;
    }

    .raw-input {
        &:disabled {
            cursor: not-allowed;
        }
    }

    &::after {
        visibility: hidden;
        content: attr(data-replicated-value) " ";
    }
}
