.grow-wrap {
    display: grid;
    width: auto;

    .raw-input, &::after {
        margin: unset;
        outline: unset;
        border: unset;
        background-color: unset;
        padding: unset;
        width: auto;
        min-width: 1em;
        overflow: hidden;
        resize: none;
        text-overflow: ellipsis;
        /* NOTE: We want to preserve whitespaces. We don't have new lines so we
         * don't need to worry about it */
        white-space: pre;
        color: inherit;
        font: inherit;
        grid-area: 1 / 2;
    }

    .raw-input {
        &:disabled {
            cursor: not-allowed;
        }
    }

    &::after {
        visibility: hidden;
        content: attr(data-replicated-value) " ";
    }
}
