.calendar-container {
    display: flex;
    gap: var(--spacing-sm);
    flex-direction: column;

    .header {
        display: flex;
        gap: var(--spacing-sm);
        align-items: baseline;
        font-size: var(--font-size-sm);
    }

    .monthly-calendar {
        display: grid;
        grid-template-columns: repeat(7, 1fr);
        gap: var(--spacing-2xs);

        .day-name {
            padding: var(--spacing-2xs);
            text-align: center;
            color: var(--color-text-light);
            font-size: var(--font-size-sm);
        }

        .date {
            padding: var(--spacing-3xs) var(--spacing-xs);
            font-size: var(--font-size-sm);
        }
    }
}
