.monthly-calendar {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: var(--spacing-xs);

    .day-name {
        text-align: center;
        font-size: var(--font-size-sm);
        color: var(--color-text-light);
    }

    .date {
        &:hover {
            background-color: var(--color-secondary);
        }
    }
}
