.sub-sections {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    gap: var(--spacing-lg);
}

.current-time {
    display: flex;
    justify-content: space-between;
    color: var(--color-text-light);
    font-size: var(--font-size-md);
    gap: var(--spacing-sm);
}
