.day-view {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-lg);

    .empty-message {
        display: flex;
        flex-direction: column;
        gap: var(--spacing-sm);

        .title {
            font-size: var(--font-size-xl);
            font-weight: var(--font-weight-bold);
        }
    }
}
