.root {
    display: flex;
    position: relative;
    flex-direction: column;
    height: 100vh;
    overflow: auto;

    .navigation-loader {
        position: fixed;
        transition: var(--duration-animation-medium) width ease-out;
        z-index: 1;
        background-color: var(--color-primary);
        width: 100%;
        height: var(--width-separator-lg);
        animation: bounce-back-and-forth var(--duration-animation-slow) ease-in-out infinite;

        &.disappear {
            width: 0;
            animation: fade-out var(--duration-animation-medium) ease-in forwards;
        }
    }

    .navbar {
        flex-shrink: 0;
    }

    .page-content {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        overflow: auto;
    }

    .footer {
        flex-shrink: 0;
    }
}

@keyframes bounce-back-and-forth {
    0% {
        left: 0;
        width: 0%;
    }
    50% {
        width: 50%;
    }
    100% {
        left: 100%;
        width: 0%;
    }
}

@keyframes fade-out {
    from { opacity: 1; }
    to { opacity: 0; }
}
