.work-item-row {
    display: grid;
    align-items: flex-start;
    grid-template-columns: 5rem 2fr 5fr 9rem 4rem 4rem;
    padding: var(--spacing-2xs) var(--spacing-xs);
    gap: var(--spacing-xs);

    &.with-icons {
        grid-template-columns: 5.5rem 2fr 5fr 12rem 5rem 4rem;
    }

    &.checkbox-for-status {
        grid-template-columns: 1rem 2fr 5fr 10rem 4rem 4rem;

        &.with-icons {
            grid-template-columns: 1rem 2fr 5fr 10rem 5rem 4rem;
        }
    }

    .actions {
        display: flex;
        align-items: baseline;
        flex-wrap: wrap;
        justify-content: flex-end;
        gap: var(--spacing-xs);
    }


    /* TODO: sync this color from colorscheme */
    .status-checkbox {
        &.doing {
            color: #039BE5;
        }

        &.done {
            color: #7CB342;
        }
    }

    .task {
        min-width: 8rem;
    }

    &:focus-within {
        background-color: var(--color-tertiary);
    }

    @media screen and (max-width: 900px) {
        grid-template-columns: auto;
        gap: var(--spacing-sm);

        &.with-icons {
            grid-template-columns: auto;
        }

        &.checkbox-for-status {
            grid-template-columns: 1rem 1fr;

            &.with-icons {
                grid-template-columns: 1rem 1fr;
            }
        }

        .compact-options {
            display: flex;
            flex-direction: column;
            gap: var(--spacing-xs);
            grid-column: 1 / -1;
        }

        &:not(:focus-within) {
            .compact-options,
            .task,
            .type,
            .status,
            .actions,
            .hours {
                display: none;
            }
        }
    }
}

.calendar-dialog {
    .modal-content {
        display: flex;
        flex-direction: column;
        gap: var(--spacing-md);
        padding: var(--spacing-md);
    }
}
