.grow-wrap {
    display: grid;
    width: 100%;

    .raw-input, &::after {
        margin: unset;
        outline: unset;
        border: unset;
        background-color: unset;
        padding: unset;
        width: 100%;
        overflow: hidden;
        resize: none;
        white-space: pre-wrap;
        color: inherit;
        font: inherit;
        grid-area: 1 / 1 / 2 / 2;
    }

    .raw-input {
        &:disabled {
            cursor: not-allowed;
        }
    }

    &::after {
        visibility: hidden;
        content: attr(data-replicated-value) " ";
    }

    &.compact {
        &:not(:focus-within) {
            &::after {
                visibility: unset;
                text-overflow: ellipsis;
                white-space: nowrap;
                content: attr(data-short-value) " ";
            }

            .raw-input {
                /* We should not hide raw input if empty to show placeholder */
                &:not(.empty) {
                    /* We are use visibility: hidden because element needs to
                     * be focused on tab press */
                    opacity: 0;
                }
            }
        }
    }
}
