.popover {
    --popup-width: 16rem;

    position: absolute;
    /* position-area: block-end span-inline-end; */
    /* position-try-fallbacks: block-end span-inline-start; */
    margin: var(--spacing-xs) 0;
    border-width: 0px;
    border-radius: var(--spacing-xs);
    box-shadow: var(--box-shadow-xl);
    background-color: var(--color-text-on-dark);

    width: var(--popup-width, auto);
    min-width: anchor-size(width);
    max-height: 40vh;
    overflow: auto;

    position-visibility: anchors-visible;
    position-area: bottom center;
    position-try-fallbacks: flip-block, flip-inline;

    ::backdrop {
        display: none;
    }
}
