.input-error {
    display: flex;
    align-items: center;
    opacity: 0;

    background-color: var(--color-primary);
    padding: var(--spacing-xs) var(--spacing-md);
    animation: slide-down var(--duration-transition-medium) ease-in forwards;
    animation-delay: var(--duration-transition-fast);
    color: var(--color-text-on-dark);
    gap: var(--spacing-sm);
}

.pointer {
    opacity: 0;
    animation: fade-in var(--duration-transition-medium) ease-in forwards;
    animation-delay: var(--duration-transition-medium);
    color: var(--color-primary);
}

@keyframes slide-down {
    from {
        transform: translateY(-5pt);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
