.work-item-row {
    display: grid;
    grid-template-columns: 6rem 2fr 5fr 10rem 6rem 6rem;

    &.focus-mode {
        grid-template-columns: 6rem 1fr;
    }

    .actions {
        display: flex;
        align-items: baseline;
        flex-wrap: wrap;
        gap: var(--spacing-xs);
        padding: var(--spacing-xs);
    }

    .task {
        font-size: var(--font-size-sm);
    }
    .type {
        font-size: var(--font-size-sm);
    }
    .status {
        font-size: var(--font-size-sm);
    }
    .hours {
        ::placeholder {
            font-size: var(--font-size-sm);
        }
    }

    &:focus-within {
        background-color: var(--color-tertiary);
    }

    @media screen and (max-width: 900px) {
        grid-template-columns: auto;

        &.focus-mode {
            grid-template-columns: auto;
        }

        &:not(:focus-within) {
            .task,
            .type,
            .status,
            .actions,
            .hours {
                display: none;
            }
        }
    }
}
