.work-item-row {
    display: grid;
    grid-template-columns: 3fr 3fr 7fr 6rem 7rem;
    gap: 0 var(--spacing-xs);

    .actions {
        display: flex;
        align-items: baseline;
        flex-wrap: wrap;
        gap: var(--spacing-xs);
        padding: var(--spacing-xs);
    }

    /*
    &:focus-within {
        background-color: var(--color-background);
    }
    */

    @media screen and (max-width: 60rem) {
        grid-template-columns: auto;
    }
}
