.general-event {
    display: flex;
    gap: var(--spacing-sm);

    .icon {
        font-size: var(--font-size-lg);
    }

    .days {
        width: 6rem;
        color: var(--color-text-light);
    }
}
