.daily-journal {
    position: relative;

    .bottom-actions {
        display: flex;
        gap: var(--spacing-sm);
    }

    .content {
        display: flex;
        flex-direction: column;
        gap: var(--spacing-lg);
    }
}

.date-navigation {
    display: flex;
    width: 100%;
    gap: var(--spacing-xs);

    .warning-badge {
        display: flex;
        flex-shrink: 0;
        border: 1px solid var(--color-separator);
        border-radius: var(--border-radius-lg);
        padding: var(--spacing-2xs) var(--spacing-sm);
        gap: var(--spacing-xs);
    }

    .spacer {
        flex-grow: 1;
    }
}
