.fallback-element {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    gap: 1rem;

    .app-logo {
        margin-top: -4rem;
        height: 6rem;
    }
}
