.dropdown-menu {
    align-items: center;

    .icons,
    .content,
    .actions {
        pointer-events: none;
    }

    .dropdown-icon {
        margin-inline-start: -0.3em;
    }
}

.dropdown-content {
    display: flex;
    flex-direction: column;
    padding: var(--spacing-sm) 0;
}
