.contract-grouped-view {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-sm);

    .heading {
        display: flex;
        gap: var(--spacing-sm);
        align-items: baseline;

        .duration {
            display: flex;
            align-items: baseline;
            flex-shrink: 0;
            gap: var(--spacing-xs);
        }
    }

    .work-item-list {
        display: flex;
        flex-direction: column;
        border-radius: var(--border-radius-lg);
        background-color: var(--color-foreground);
    }
}
