.contract-grouped-view {
    display: flex;
    flex-direction: column;
    border-radius: var(--border-radius-lg);

    .heading {
        display: flex;
        gap: var(--spacing-sm);
        align-items: flex-end;

        .text-section {
            display: flex;
            align-items: baseline;
            gap: var(--spacing-sm);
            flex-grow: 1;
            flex-wrap: wrap;
            padding: var(--spacing-sm);

            .contract-name {
                color: var(--color-text-light);
                font-size: var(--font-size-sm);
            }
        }

        .duration {
            display: flex;
            align-items: center;
            flex-shrink: 0;
            padding: var(--spacing-sm);
            width: 12rem;
            font-size: var(--font-size-sm);
            font-weight: var(--font-weight-bold);
            gap: var(--spacing-xs);

            @media screen and (max-width: 60rem) {
                width: unset;
            }
        }
    }

    .work-item-list {
        display: flex;
        flex-direction: column;
        border-radius: var(--border-radius-lg);
        background-color: var(--color-foreground);
    }
}
