.container {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    /*
    background-color: var(--go-ui-color-background);
    */
    width: 100svw;
    height: 100svh;
    gap: 1rem;
    text-align: center;

    @media (display-mode: standalone) {
        height: 100dvh;
    }
}
