.daily-standup {
    overflow: auto;

    .page-content {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        background-color: var(--color-background);
        gap: var(--spacing-lg);
        overflow: auto;

        &:not(.presentation-mode) {
            border: var(--width-separator-sm) solid var(--color-separator);
        }

        .content {
            display: flex;
            flex-direction: column;
            flex-grow: 1;
            background-color: var(--color-background);
            overflow: auto;
        }
    }
}

.actions {
    display: flex;
    justify-content: flex-end;
    gap: var(--spacing-sm);
}
