.navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: var(--width-separator-sm) solid var(--color-separator);
    padding:
        calc(var(--spacing-sm) + env(safe-area-inset-top))
        var(--spacing-md)
        var(--spacing-sm);
    min-height: var(--height-navbar);
    gap: var(--spacing-md);

    .start-actions,
    .middle-actions,
    .end-actions {
        display: flex;
        align-items: center;
        flex-shrink: 0;
    }

    .middle-actions {
        flex-grow: 1;
    }

    .brand {
        display: flex;
        align-items: center;
        font-size: var(--font-size-xl);

        .home-link {
            display: flex;
            align-items: baseline;
            font-weight: var(--font-weight-light);
        }

        .app-logo {
            height: 1.2rem;
        }
    }

    .auth {
        flex-shrink: 0;
        font-size: var(--font-size-2xl);

        @media screen and (max-width: 900px) {
            display: none;
        }
    }
}
