.navbar {
    display: flex;
    align-items: center;
    box-shadow: var(--box-shadow-md);
    background-color: var(--color-foreground);
    padding: var(--spacing-md);
    gap: var(--spacing-sm);

    .app-logo {
        height: 1.4rem;
    }

    .brand {
        color: var(--color-primary);
        font-size: var(--font-size-2xl);
        font-weight: var(--font-weight-bold);
    }
}
