.page-error {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;

    .container {
        display: flex;
        flex-direction: column;
        border-top: var(--width-separator-lg) solid var(--color-primary);
        border-radius: var(--border-radius-xl);
        box-shadow: var(--box-shadow-lg);
        background-color: var(--color-foreground);
        padding: var(--spacing-2xl);
        width: calc(100% - var(--spacing-2xl));
        max-width: 60rem;
        max-height: 60rem;
        gap: var(--spacing-lg);

        .content {
            display: flex;
            flex-direction: column;
            gap: var(--spacing-md);

            .heading {
                margin: 0;
                font-weight: var(--font-weight-semibold);
            }

            .message {
                font-family: var(--font-family-mono);
            }

            .stack {
                flex-grow: 1;
                background-color: var(--color-background);
                padding: var(--spacing-md);
                width: 100%;
                overflow: auto;
                white-space: pre;
                font-family: var(--font-family-mono);
            }
        }

        .footer {
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex-wrap: wrap;
            gap: var(--spacing-md);

            .actions {
                display: flex;
                align-items: center;
                justify-content: flex-end;
                gap: var(--spacing-sm);
            }
        }
    }
}
