.project-section {
    .project-icon {
        width: 10rem;
        height: 10rem;
        object-fit: contain;
        object-position: center center;
    }

    .primary-section{
        display: flex;
        flex-direction: column;
        text-align: center;
        gap: var(--spacing-2xl);
    }

    .sub-sections {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        gap: var(--spacing-lg);
    }

    .current-time {
        display: flex;
        justify-content: space-between;
        color: var(--color-text-muted);
        font-size: var(--font-size-md);
        gap: var(--spacing-sm);
    }

    .sub-section {
        display: flex;
        flex-direction: column;
        gap: var(--spacing-sm);

        .sub-heading {
            color: var(--color-secondary-text);
            font-size: var(--font-size-xl);
            font-weight: var(--font-weight-normal);
        }

        .contracts {
            display: flex;
            flex-direction: column;
            margin: 0;
            padding-left: var(--spacing-lg);
            gap: var(--spacing-xs);
        }
    }

}
