.home {
    .main-content {
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: var(--spacing-xl);
        flex-wrap: wrap;
        justify-content: center;

        .calendar {
            max-width: 30rem;
        }

        .quick-links {
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            justify-content: center;
            gap: var(--spacing-xl);

            .link {
                flex-direction: column;
                padding: var(--spacing-md);
                font-size: var(--font-size-lg);

                .icon {
                    font-size: 8rem;
                }
            }
        }
    }
}
