.home {
    /* FIXME: We should move this outside of Home */
    h1, h2, h3, h4, h5, h6 {
        margin: 0;
        line-height: 1;
        font-weight: var(--font-weight-bold);
    }

    /* FIXME: We should move this outside of Home */
    p {
        margin: 0;
    }

    .page-header {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        gap: var(--spacing-sm);

        .header-content {
            display: flex;
            align-items: baseline;
            flex-grow: 1;
            gap: var(--spacing-sm);

            .last-saved-status {
                display: flex;
                align-items: center;
                transition: .5s opacity ease-in-out;
                opacity: 0;
                border-radius: 0.5rem;
                background-color: var(--color-quaternary);
                padding: var(--spacing-2xs) var(--spacing-sm);
                color: var(--color-text-light);
                font-size: var(--font-size-xs);
                gap: var(--spacing-xs);

                .timur-icon {
                    height: 0.75rem;
                }

                &.active {
                    opacity: 1;

                    .timur-icon {
                        animation: shake-it-off 2.2s ease-in infinite;
                    }
                }
            }

        }

        .actions {
            display: flex;
            gap: var(--spacing-md);
            align-items: center;
        }
    }

    .day-header {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        gap: var(--spacing-md);

        .header-content {
            display: flex;
            align-items: baseline;
            flex-grow: 1;
            gap: var(--spacing-sm);

            .date-container {
                display: flex;
                position: relative;

                .date-input {
                    position: absolute;
                    bottom: 0;
                    visibility: hidden;
                }

                .date-button {
                    text-align: left;
                    font-size: var(--font-size-2xl);
                    font-weight: var(--font-weight-bold);

                    .button-actions {
                        font-size: var(--font-size-lg);
                    }
                }
            }

            .duration {
                display: flex;
                align-items: center;
                flex-shrink: 0;
                gap: var(--spacing-xs);
                padding: var(--spacing-sm);
                font-weight: var(--font-weight-bold);
            }
        }

        .actions {
            display: flex;
            gap: var(--spacing-md);
            align-items: baseline;
        }
    }

    .content {
        display: flex;
        flex-direction: column;
        gap: var(--spacing-lg);
    }
}

@keyframes shake-it-off {
    10% {
        transform: rotate(0);
    }
    20% {
        transform: rotate(-160deg);
    }
    30% {
        transform: rotate(-160deg) translateY(2px);
    }
    35% {
        transform: rotate(-160deg) translateY(-2px);
    }
    50% {
        transform: rotate(-160deg) translateY(2px);
    }
    55% {
        transform: rotate(-160deg) translateY(-2px);
    }
    70% {
        transform: rotate(-160deg) translateY(0);
    }
    80% {
        transform: rotate(0);
    }
}
