.work-item-row {
    display: grid;
    align-items: flex-start;
    outline: none;
    border-radius: var(--spacing-2xs);
    background-color: var(--color-foreground);
    padding: var(--spacing-xs);
    grid-template-columns: 5rem 2fr 5fr 9rem 4rem max-content;
    gap: var(--spacing-xs);

    &.checkbox-for-status {
        grid-template-columns: 1rem 2fr 5fr 10rem 4rem max-content;
    }

    .description {
        .strike {
            text-decoration: line-through;
        }
    }

    .actions {
        display: flex;
        align-items: baseline;
        flex-wrap: wrap;
        justify-content: flex-end;
        gap: var(--spacing-xs);
    }

    /* TODO: sync this color from colorscheme */
    .status-checkbox {
        &.doing {
            color: #039BE5;
        }

        &.done {
            color: #7CB342;
        }
    }

    .task {
        min-width: 8rem;
    }

    .errored-input {
        input {
            text-decoration: underline;
            text-decoration-color: red;
            text-decoration-style: solid;
            text-decoration-thickness: 2px;
        }
    }

    @media screen and (max-width: 900px) {
        grid-template-columns: auto;
        gap: var(--spacing-sm);

        &.checkbox-for-status {
            grid-template-columns: 1rem 1fr;
        }

        .compact-options {
            display: flex;
            flex-direction: column;
            gap: var(--spacing-xs);
            grid-column: 1 / -1;

            .option-group {
                display: flex;
                gap: var(--spacing-xs);

                > * {
                    flex-grow: 1;
                    min-width: 0;
                }
            }
        }

        &:not(:focus-within) {
            .compact-options,
            .task,
            .type,
            .status,
            .actions,
            .hours {
                display: none;
            }
        }
    }
}

.calendar-dialog {
    .modal-content {
        display: flex;
        flex-direction: column;
        gap: var(--spacing-md);
        padding: var(--spacing-md);
    }
}
