.radio-input {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-xs);

    .label {
        color: var(--color-text-light);
        font-size: var(--font-size-sm);
    }

    .radio-list-container {
        display: flex;
        flex-wrap: wrap;
        gap: var(--spacing-xs) var(--spacing-md);
        min-height: 1em;
    }

    &.disabled {
        opacity: var(--opacity-disabled-element);
        filter: saturate(50%);
    }

    .input-hint {
        padding: var(--spacing-xs);
        color: var(--color-text-light);
        font-size: var(--font-size-sm);
    }
}
