.start-sidebar {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    gap: var(--spacing-lg);
    padding: var(--spacing-md);
    overflow-y: auto;

    .bottom-actions {
        display: flex;
        flex-wrap: wrap;
        margin-top: auto;
        gap: var(--spacing-sm);
    }

    .desktop-only {
        @media screen and (max-width: 900px) {
            display: none;
        }
    }
}
