.message {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: var(--spacing-sm);
    justify-content: center;
    opacity: var(--opacity-message);
    background-color: var(--color-foreground);
    padding: var(--spacing-lg);
    min-height: var(--height-content--min);
    text-align: center;

    .icon {
        line-height: 0;
        color: var(--color-text-light);
        font-size: 4rem;

        .spinner {
            font-size: 2rem;
        }
    }

    .title {
        color: var(--color-text-light);
        font-size: var(--font-size-xl);
    }

    .description {
        color: var(--color-text-light);
        font-size: var(--font-size-md);
    }

    &.errored {
        .title {
            color: var(--color-primary);
        }
    }

    &:not(.compact) {
        .title {
            font-weight: var(--font-weight-bold);
        }
    }
    &.compact {
        padding: var(--spacing-sm);
        min-height: var(--height-compact-content--min);

        .title {
            font-size: var(--font-size-sm);
        }

        .description {
            font-size: var(--font-size-sm);
        }

        .icon {
            font-size: 2rem;

            .spinner {
                font-size: 1rem;
            }
        }
    }
}
