@keyframes ellipsis {
    0%   { content: ''; }
    25%  { content: '.'; }
    50%  { content: '..'; }
    75%  { content: '...'; }
}

.message {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: var(--spacing-sm);
    opacity: var(--opacity-message);

    .icon {
        line-height: 0;
        color: var(--color-text-muted);
    }

    .title {
        color: var(--color-text-muted);

        &.pending::after {
            display: inline-block;
            width: 1.2em;
            animation: ellipsis 1.4s linear infinite;
            text-align: left;
            content: '';
        }
    }

    .description {
        color: var(--color-text-muted);
    }

    &.errored {
        .title {
            color: var(--color-primary-text);
        }
    }

    &:not(.compact) {
        align-items: center;
        flex-direction: column;
        justify-content: center;
        padding: var(--spacing-lg);
        min-height: var(--height-content--min);
        text-align: center;

        .icon {
            font-size: 4rem;
        }

        .title {
            font-size: var(--font-size-xl);
        }

        .description {
            font-size: var(--font-size-md);
        }
    }
}
